<div class="form-container">
  <div class="form">
    <div class="title">
      <span>Register:</span>
    </div>
    <div class="flex-item">
      <app-textfield
        [id]="'username'"
        [(invalid)]="usernameInvalid"
        [errorMessage]="usernameInvalidMessage"
        [(value)]="userService.registerRequest.username"
        (valueChange)="usernameIsValid($event)"
        label="Username">
      </app-textfield>
    </div>
    <div class="flex-item">
      <app-textfield
        [id]="'password'"
        [(invalid)]="passwordInvalid"
        [errorMessage]="passwordInvalidMessage"
        [(value)]="userService.registerRequest.password"
        (valueChange)="passwordIsValid($event)"
        type="password"
        label="Password">
      </app-textfield>
    </div>
    <div class="flex-item">
      <app-textfield
        [id]="'retype-password'"
        [(value)]="userService.registerRequest.retypePassword"
        [(invalid)]="retypePasswordInvalid"
        [errorMessage]="retypePasswordInvalidMessage"
        (valueChange)="retypePasswordIsValid($event)"
        type="password"
        label="Retype Password">
      </app-textfield>
    </div>
    <div class="flex-item">
      <app-checkbox
        [(checked)]="userService.registerRequest.acceptedTerms"
        (checkedChange)="termsIsValid($event)"
        [(invalid)]="termsInvalid"
        id="agree-checkbox">
        <span>I agree to the Terms of service</span>
      </app-checkbox>
    </div>
    <div class="flex-item">
    <button class="btn waves-effect waves-light" type="submit" name="action" (click)="registerUser()">Register
        <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
</div>
